#container {
    background: rgb(255,147,48);
    background: linear-gradient(90deg, rgba(255,147,48,1) 27%, rgba(255,255,255,1) 48%, rgba(19,136,8,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    border: 2px solid #000080 ;
    border-radius: 30px;
}

body {
  margin: 40px;
  background: #b993d6;
  background: linear-gradient(to right, #8ca6db, #b993d6);

}

.flag {
  box-shadow: 0 23px 23px 7px rgba(0, 0, 0, 0.04);
  transform: scale(0.5) perspective(1500px) rotateY(0deg);
  height: 500px;
  width: 900px;
  .brave {
    height: 33%;
    width: 100%;
    background: orange;
  }
  .peace {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
  }
  .faith {
    height: 33%;
    width: 100%;
    background: green;
  }
}
.chakra {
  transform:  perspective(1500px) rotateY(0deg);
  width: 100px;
  height: 100px;
  border: 3px #000080 solid;
  background: repeating-conic-gradient(
    from 0deg,
    #000080 0deg 5deg,
    white 5deg 10deg,
    #000080 10deg 15deg,
    white 15deg 20deg,
    #000080 20deg 25deg,
    white 25deg 30deg,
    #000080 30deg 35deg,
    white 35deg 40deg,
    #000080 40deg 45deg,
    white 45deg 50deg,
    #000080 50deg 55deg,
    white 55deg 60deg,
    #000080 60deg 65deg,
    white 65deg 70deg,
    #000080 70deg 75deg,
    white 75deg 80deg,
    #000080 80deg 85deg,
    white 85deg 90deg
  );
  border-radius: 50%;
  .center{
    position: absolute;
    border-radius: 50%;
    filter: blur(3px);
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    background: #000080;
  }
}
